* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  font-size: clamp(16px, 1.2vmax, 40px);
}

body {
  --accent-color: #2752ca;
  --text-color: 17, 17, 17;
  --text-color-light: 85, 85, 85;
  --foreground-color: 255, 255, 255;
  --background-color: rgba(var(--foreground-color), 1);
  --dark-shade: #f4f4f4;
  --error-color: #e53935;
  --hue: 255;
  --saturation: 61%;
  --lightness: 39%;
  color: rgba(var(--text-color), 1);
  background-size: cover;
}

body[data-theme=dark] {
  --accent-color: #4d74e0;
  --text-color: 238, 238, 238;
  --text-color-light: 170, 170, 170;
  --foreground-color: 26, 26, 26;
  --background-color: #111;
  --dark-shade: #222;
  --hue: 255;
  --saturation: 39%;
  --lightness: 70%;
  background-color: var(--background-color);
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--accent-color);
}

#main {
  display: grid;
  grid-template-columns: 1fr 24rem;
}

#details {
  align-content: flex-start;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

#cert_sec {
  padding: 1.5rem;
  font-family: "intern";
}